$milliman--theme--white: (
  interactive-01: #0080E2,
  interactive-02: #39414D,
  interactive-03: #0080E2,
  interactive-04: #0080E2,
  ui-background: #ffffff,
  ui-01: #f8f8f8,
  ui-02: #ffffff,
  ui-03: #E8E9EA,
  ui-04: #727A7D,
  ui-05: #39414D,
  text-01: #39414D,
  text-02: #616771,
  text-03: #AAAFB1,
  text-04: #ffffff,
  text-05: #39414D,
  icon-01: #39414D,
  icon-02: #727A7D,
  icon-03: #ffffff,
  link-01: #0080E2,
  field-01: #F8F8F8,
  field-02: #ffffff,
  inverse-01: #ffffff,
  inverse-02: #39414D,
  support-01: #A52040,
  support-02: #74C061,
  support-03: #FFC800,
  support-04: #50BEE1,
  inverse-support-01: #A52040,
  inverse-support-02: #74C061,
  inverse-support-03: #FFA200,
  inverse-support-04: #0080E2,
  overlay-01: #39414D60,
  danger: #B74D66,
  focus: #0080E2,
  hover-primary: #66B3EE,
  active-primary: #0080E2,
  hover-primary-text: #0067B5,
  hover-secondary: #888D94,
  active-secondary: #616771,
  hover-tertiary: #0080E2,
  active-tertiary: #0067B5,
  hover-ui: #E8E9EA,
  active-ui: #C7CACB,
  selected-ui: #E3E4E5,
  hover-selected-ui: #E8E9EA,
  hover-danger: #B74D66,
  active-danger: #631326,
  hover-row: #E8E9EA,
  visited-link: #50BEE1,
  disabled-01: #E3E4E5,
  disabled-02: #C6C9CA,
  disabled-03: #727A7D,
  highlight: #CCE6F9,
  skeleton-01: #E3E4E5,
  skeleton-02: #C7CACB,
  inverse-link: #99CCF3,
  inverse-hover-ui: #616771,
  inverse-focus-ui: #FFFFFF
) !default;